@{
    ViewBag.Title = "Welcome";
    Layout = "_Layout2";
}

<div class="wrapper">
    <div class="left-intro">
        <h1 class="welcomeHeader">Welcome to</h1>
        <img class="cup" src="/images/logoNEW.png" alt="Logo">
    </div>

    <div class="right-intro">
        <h2>Are you a customer or a barista?</h2>
        <br />      
        <div class="linkContainer">
 
            <a class="btn btn-dark commonBtn managerBtn" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("OrderList", "Barista")">Barista</a>
            <a class="btn btn-dark commonBtn customerBtn" asp-controller="Order" asp-action="Create">Customer</a>
        </div>
       

    </div>
</div>
