@{
    Layout = "_Layout2";
    ViewBag.Title = "Login";
}


<div class="wrapper">
    <partial name="_LoginPartial" />
</div>

<script>
    setTimeout(function () {
        var errorMessage = document.getElementById("errorMessage");

        if (errorMessage) {
            setTimeout(function () {
                errorMessage.style.opacity = '0';
            }, 1000);
        }
    }, 5000);
</script>