@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>Account activated!</h1>

<script>
window.onload = function () {
        window.location.href = "/Identity/Account/Login";
    }
</script>
