@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<div class="col-md-18 mx-auto text-center">
    <h1>@ViewData["Title"]</h1>
    @{
        if (@Model.DisplayConfirmAccountLink)
        {
            <div class="col-md-14 mx-auto text-center">
                Welcome to our Coffee Shop! 
            </div>
            <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
        }
        else
        {
            <p>Please check your email to confirm your account.</p>
        }
    
    }
</div>

