html {
    position: relative;
    min-height: 100%;
    background-color: #EFE1D3;
}

body {
    background-color: #EFE1D3;
    font-family: 'Lato', sans-serif;
    color: #2E2928;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
}



header {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-top: 20px; /* Adjusted margin-top */
    background-color: #EFE1D3;
    padding: 15px 45px; /* Adjusted padding */
    width: 85%;
    text-align: center; /* Centering text */
    margin-bottom: 40px;
}

/* Example for a subtle gradient background */
header {
    background: linear-gradient(to right, #EFE1D3, #C7B89C);
    /* Other styling properties remain the same */
}

.logo{
  margin-left: 30px;
}

header nav div{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

header nav div h1 {
  opacity: .8;
}

footer{
  text-align: center;
  width: 100%;
  padding: 15px 0;
  background-color: #2E2928;
  color: #ffffff;
  font-size: 13px;

}

footer a{
  color: #ffffff;
  transition: all 0.3s ease;
  
}

footer a:hover{
  color: #ff3052;
  text-decoration: none;
}